<ng-template *reaction="store.loadReaction"></ng-template>
<areas-toolbar *observer
    (onAddArea)="addChildArea()"
    (onFilterChange)="filterChange($event)"
    (onSortChange)="sortChange($event)"
    [resultsCount]="store.resultsCount">
</areas-toolbar>
<div *ngIf="store.showAreas" class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <pfng-tree-list *observer
          [actionTemplate]="actionTemplate"
          [config]="treeListConfig"
          [itemTemplate]="itemTemplate"
          [items]="store.rootTreeNodes"
          (onActionSelect)="handleAction($event)">
        <ng-template #itemTemplate let-node="node" let-index="index">
          <div class="list-pf-content-wrapper">
            <div class="list-pf-main-content">
              <div class="list-pf-title">{{node.data.label}}</div>
            </div>
          </div>
        </ng-template>
        <ng-template #actionTemplate let-node="node" let-index="index">
          <pfng-action class="list-pf-actions"
                       [config]="actionConfig"
                       (onActionSelect)="handleAction($event, node.area)">
          </pfng-action>
        </ng-template>
      </pfng-tree-list>
    </div>
  </div>
</div>
<div class="modal fade" bsModal #staticModal="bs-modal" tabindex="-1" role="dialog" aria-hidden="true" (onShow)="onDialogShow()" onHide="onDialogHide()">
  <create-area-dialog *ngIf="showCreateAreaDialog" [host]="modal" [parentId]="selectedAreaId" [areas]="allAreas" (onAdded)="addArea($event)" (onCancel)="closeModal()"></create-area-dialog>
</div>
